@model SoftwareVentas.DTOs.RoleDTO

<input type="hidden" id="permissionIds" name="PermissionIds" />

<div class="col-md-12">
    <div class="form-floating">
        <input asp-for="RoleName" class="form-control" placeholder="@Html.DisplayFor(model => model.RoleName)">
        <label>@(Html.DisplayNameFor(model => model.RoleName))</label>
        <span asp-validation-for="RoleName" class="text-danger"></span>
    </div>
</div>