@model Product

    @{
      ViewData["Title"] = "Nuevo Product";
     
    }

    <h1>Nuevo Producto</h1>


    <form asp-action="Create" method="POST">
        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">

            <label class="form-label">Precio</label>
            <input type="text" class="form-control" asp-for="Price" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Stock</label>
            <input type="text" class="form-control" asp-for="Stock" />
            <span asp-validation-for="Stock" class="text-danger"></span>
        </div>

        <div class="mb-3">

            <label class="form-label">Descuento</label>
            <input type="text" class="form-control" asp-for="Discount" />
            <span asp-validation-for="Discount" class="text-danger"></span>
        </div>

        <button class="btn btn-primary">Guardar</button>
    </form>

    @section Scripts
{
        @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

